nav.leftmenu {
  position: absolute;
  left:0;
  top:0;
  height: 100%;
  width: 15%;
  background-color: #B2DB74;
  overflow-y: hidden;
}


div.contenidoDerecha {
  position: absolute;
  margin-left: 15%;
  width: 80%;
}


div.todo {
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  background-color:  "red";
}


a.contenidoDerecha{
  position: relative;
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  width: 20%
}


#otro {
  position: relative;
  background-color: rgba(255,255,255,0.5);
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  width: 4px
}




div.cosasDelMenu {
  margin-left: 10px;
}

a {
  width: 100px;
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button:hover{
  background-color: #269924;
}
