<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{usuario.nickName}}</title>
</head>
<body>
Editar Perfil
<form action="/editarPerfilAction", method="post">
    <input type="email" name="mail" placeholder="Mail" value="{{usuario.mail}}" autocomplete="on"><br>
    <input type="text" name="nickName" placeholder="Nick" value="{{usuario.nickName}}"><br>
    <input type="text" name="descripcion" placeholder="descripcion" value="{{usuario.descripcion}}"><br>
    <input type="submit" value="Guardar">
</form>
</body>
</html>