<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="../static/main.css">
    <link rel="stylesheet" href="../static/normalize.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
</head>
<style>
body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
</style>
<body>



{% if usuario.id == -1 %}
    <nav class="leftmenu">
        <div class="cosasDelMenu">
            <h3 class="nombre-sitio"><a href="/logIn">logIn</a> <a href="/signUp">signUp</a></h3>
            <a href="/homeUsuario?filtro=predeterminado&offset={{offset}}" class="button">Inicio</a>
        </div>
    </nav>
{% else %}
    <nav class="leftmenu">
        <div class="cosasDelMenu">
            <h3 class="nombre-sitio"> Hola {{usuario.nickName}} <a href="/logOut"><i class="fas fa-power-off"></i></a></h3>
            <a href="/homeUsuario?filtro=predeterminado" class="button">Inicio</a>
            <a href="/usuarioPerfil?idusuario={{usuario.id}}" class="button">Tu Perfil</a>
            <a href="/homeUsuario?filtro=siguiendo" class="button">Siguiendo</a>
            <a href="/crearPost" class="button">Crear Post</a>
        </div>
    </nav>
{% endif %}

<div class="contenidoDerecha">
    {{buscarPor}}
    {{busqueda}}
  <form action="/homeUsuario?filtro=buscar&X=0" method="post">
      <input type="text" name="busqueda" placeholder="Buscar">
      <select name="buscarPor">
          <option value="titulo">Titulo</option>
          <option value="usuario">Usuario</option>
      </select>
      <input type="submit" value="Buscar">
  </form>

  <table>
      <tr>
          <th>Titulo</th>
          <th>Autor</th>
      </tr>
      {% for post in listaPosts %}
      <tr>
          <td><a href="/post?idpost={{post.id}}">{{post.titulo}}</a></td>
          <td><a href="/usuarioPerfil?idusuario={{post.getDueño().id}}">{{post.getDueño().nickName}}</a></td>
      </tr>
      {% endfor %}
  </table>
    <a href="/homeUsuario?filtro={{filtro}}&offset={{offset}}&move=-2&buscarPor={{buscarPor}}&busqueda={{busqueda}}&X=1"><i class="fas fa-angle-left"></i> Anterior</a>
    <a href="/homeUsuario?filtro={{filtro}}&offset={{offset}}&move=2&buscarPor={{buscarPor}}&busqueda={{busqueda}}&X=1">Siguiente <i class="fas fa-angle-right"></i>
</a>
</div>





</body>
</html>
