<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SignUp</title>
</head>
<body>
SignUp
<form action="/registrarUsuario" method="post">
    <input type="text" name="nombre" placeholder="Nombre"><br>
    <input type="text" name="apellido" placeholder="Apellido"><br>
    <input type="text" name="nickName" placeholder="Nick"><br>
    <input type="email" name="mail" placeholder="Email"><br>
    <input type="password" name="contraseña" placeholder="Contraseña"><br>
    <input type="submit" value="Registrarse">
</form>
</body>
</html>

