<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{usuario.nickName}}</title>
    <link rel="stylesheet" href="../static/main.css">
    <link rel="stylesheet" href="../static/normalize.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
</head>
<style>
body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
</style>
<body>

<div class="todo">

<nav class="leftmenu">
    <div class="cosasDelMenu">
        <h3 class="nombre-sitio"> Hola {{usuario.nickName}}</h3>
        <a href="/logOut" class="button">logOut</a>
        <a href="/usuarioPerfil?idusuario={{usuario.id}}" class="button">Tu Perfil</a>
        <a href="/homeUsuario?filtro=predeterminado" class="button">All</a>
        <a href="/homeUsuario?filtro=siguiendo" class="button">Siguiendo</a>
    </div>
</nav>


<div class="contenidoDerecha">
    <h2>{{usuarioPerfil.nickName}}<a href="/editarPerfil" id="otro"><i class="fas fa-cogs"></i></a></h2>
    {% if estadoDeSeguir == 0 %}
        <a href="/seguir?idusuario={{usuarioPerfil.id}}">Seguir</a><br>
    {% else %}
        <a href="/dejarDeSeguir?idusuario={{usuarioPerfil.id}}" class="buttonContenidoDerecha">Dejar de Seguir</a><br>
    {% endif %}

    <br><a href="/usuarioHilos?idusuario={{usuarioPerfil.id}}">Hilos</a><br>

    Se unió el {{usuarioPerfil.fechaCreacion}}<br>
    {{usuarioPerfil.descripcion}}
    <br><br>
    Sus hilos
    {% for hilo in listaHilos%}
    <br>
    <a href="/postDeHilo?idhilo={{hilo.id}}">{{hilo.titulo}}</a>
    {% endfor %}
    <br>


</div>
</div>
</body>
</html>